article {
    font-family: 'Cormorant SC', sans-serif;
    margin-left: 5%;
}

.name_price_box {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.description_box {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

p {
    margin: 1% 0% 1% 0%;
    text-transform: uppercase;
}