.article {
    margin: 2rem; /* Adjust as needed */
    border: 1px solid black;
    text-align: center;
    box-sizing: border-box;
}

img {
    width: 60%;
    max-width: 100%; /* Ensure the image doesn't exceed its container */
}

.button_div {
    min-height: 30px; /* Use min-height for dynamic content */
    margin: 5% 0 3%; /* Adjust as needed */
}

.status {
    height: fit-content;
}
