.App {
  z-index: -1;
}

.header_body {
  height: 100vh;
  overflow: hidden; 
}
.header_body video {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; /* Adjust text color as needed */
  font-size: 2em; /* Adjust font size as needed */
  text-align: center;
  z-index: 1; /* Ensures text is above the video */
}

/* SlideShow Styling ! ! ! */

.slideshow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vh;
  height: 100vh;
  margin: 0 auto;
}

.slideshow-text {
  padding: 10px;
  text-align: center;
  position: relative;
  max-width: 300px;
}

.slideshow-text h2 {
  width: max-content;
  font-size: 5vw;
  position: relative;
  margin-bottom: 10%;
}

.slideshow {
  width: 45%; /* Set width to 100% */
  height: auto;
}

.slideshow img {
  width: 100%; /* Set width to 100% */
  height: auto;
  transition: transform 0.5s ease-in-out;
  border-radius: 20%;
}


/* End */

/* Pictures Section ! ! ! */
.picturesSection {
  position: relative;
  width: 100%;
  height: 90vh;
  background-color: rgb(238, 237, 237);
  overflow: hidden;
  box-shadow: inset 0 15px 10px rgba(0, 0, 0, 0.061), inset 0 -10px 10px rgba(0, 0, 0, 0.061);
}

.picturesSectionContent {
  z-index: 1;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
}

.picturesSectionText {
  text-align: center;
  margin-top: 5%;
  margin-right: 20%;
  opacity: 0; /* Set initial opacity to 0 */
  transition: opacity 5s; /* Add a 1-second transition to opacity */
}

.picturesSectionText.appear {
  opacity: 1; /* When the 'appear' class is added, opacity will transition to 1 */
}

.picturesSectionText .textBig {
  font-weight: bold;
  font-size: 4vw;
  margin-bottom: 3%;
}

.picturesSectionText .textSmall {
  font-size: 15px;
  text-align: left;
}

.picturesSectionImagies {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.picturesSectionImagies img {
  border-radius: 15%;
  position: absolute;
  max-width: 300px;
  max-height: 380px;
}

.picturesSectionImagies img:nth-child(1) {
  top: 200px;
  left: 100px;
  z-index: 2;
}

.picturesSectionImagies img:nth-child(2) {
  top: -200px;
  right: 50px;
  max-width: 400px;
  max-height: 480px;
}

.picturesSectionImagies img:nth-child(3) {
  z-index: 2;
  bottom: -350px;
  right: 400px;
  max-width: 340px;
  max-height: 420px;
}

/* End */

.another {
  height: 100vh;
}