.sectionPost {
    margin-left: 20% !important;
    margin-right: 20%;
    display: block;
    justify-content: space-between; 
}

@media (max-width: 1000px) {
    .sectionPost {
        margin-left: 10%;
        margin-right: 10%;
    }
  }