.sectionProduct {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

@media (max-width: 1000px) {
    section {
        margin-left: 10%;
        margin-right: 10%;
        display: block;
    }
  }