/* General Header Styles */
header {
  z-index: 1;
  width: 100%;
  align-content: center;
}

/* Navigation List */
.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.nav-list li {
  margin: 1em;
}

.nav-list li a {
  text-decoration: none;
  font-family: "Cormorant Unicase", serif;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.nav-list li a:hover,
.nav-list li a.active {
  color: rgb(96, 96, 96);
}

/* Mobile Menu Icon */
.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-icon div {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
}

/* Mobile Menu */

.nav.open {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(3px);
  height: 100vh;
  transform: translateX(0);
  transition: transform 1s ease-in-out;
}

/* Responsive Design */
@media (max-width: 768px) {
  header {
    position: absolute;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
  }

  .nav {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(3px);
    height: 100vh;
  }

  .nav-list {
    display: grid;
    padding: 20px;
    justify-items: center;
    align-items: center;
    height: 100%;
    align-content: center;
  }

  .nav-list li {
    margin: 0.5em 0;
  }

  .nav-list li a {
    font-size: 3em;
  }
}
